<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>P457</title>
  <title>Search Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">

</head>
<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/instructions">Instructions</a></li>
    <li><a href="/authors">Developers</a></li>
    <li><a href="/about">About</a></li>
  </ul>
<script src="{{ url_for('static', filename= 'js/scrapper.js') }}"></script>
<!-- partial:index.partial.html -->
<br>
<br>
<br>
<br>
<center>
    <h1>About</h1>
<p>
    In the developed economies of the 21st century, Online Social Networks such as Facebook, Twitter, Instagram, have become increasingly popular.
    Instagram has now become an essential platform through which a user can engage in many activities such as promotion, communications, agenda creation, advertisements, and news creation.
    Unfortunately, there has also been a rise of fake engagements which spread false information which affect other users.
    Detection of these kinds of malicious account is significant, so as to avoid loss of sensitive information, unnecessary trolls and political stir-ups, fraudulent purposes.
    Our aim is to create a model using machine learning algorithms, which detects the fake accounts present in the Instagram. 
    <a href="https://github.com/sayoojbkumar/ML_Models">Click here for more information on Models</a>
</p>
</center>


<footer>
  <a href="https://5tupidbrain.netlify.com/">P457</a>
</footer>
<!-- partial -->
  
</body>
</html>