<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>P457</title>
  <title>Search Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">

</head>
<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/instructions">Instructions</a></li>
    <li><a href="/authors">Developers</a></li>
    <li><a href="/about">About</a></li>
  </ul>
<script src="{{ url_for('static', filename= 'js/scrapper.js') }}"></script>
<!-- partial:index.partial.html -->
<br>
<br>
<br>
<br>
<center>
    <h1>Authors</h1>
    <ol>
        <li><a href="">Praveena K</a></li><br><br>
        <li><a href="">Adil Muhammed Ashraf</a></li><br><br>
        <li><a href="https://twitter.com/_1nt3rc3pt0r_">Sayooj B Kumar</a></li><br><br>
        <li><a href="">Taniya Rajesh</a></li><br><br>
    </ol>
</center>


<footer>
  <a href="https://5tupidbrain.netlify.com/">P457</a>
</footer>
<!-- partial -->
  
</body>
</html>