<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>P457</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">

</head>
<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/instructions">Instructions</a></li>
    <li><a href="/authors">Developers</a></li>
    <li><a href="/about">About</a></li>
  </ul>
<script src="{{ url_for('static', filename= 'js/scrapper.js') }}"></script>
<!-- partial:index.partial.html -->
<br><br>
<center><h1>P-4-5-7</h1></center>
<div class="search-box">
  <input id="account" type="text" placeholder="https://www.instagram.com/username/" class="search-input">
    <a href="#" class="search-btn" onclick="scrapper()">
      <i class="fas fa-search"></i>
    </a>
    <br><br><br>
  <center id="load">
  </center>
  <center id="output">
  </center>
  <center id="output1">
  </center>
</div>

<footer>
  <a href="https://5tupidbrain.netlify.com/">P457</a>
</footer>
<!-- partial -->
  
</body>
</html>