<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>P457</title>
  <title>Search Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">

</head>
<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/instructions">Instructions</a></li>
    <li><a href="/authors">Developers</a></li>
    <li><a href="/about">About</a></li>
  </ul>
<script src="{{ url_for('static', filename= 'js/scrapper.js') }}"></script>
<!-- partial:index.partial.html -->
<br>
<br>
<center>
<p>
    <h1>Instructions</h1>
    <ol>
        <li>Input format should look like <i>https://www.instagram.com/amritapuricampus/</i> </li>
        <br>
        <li>This is a Machine learning model with an Accuracy of 85% which doesn't mean all predictions are correct</li>
        <br>
        <li>As of now Application can only predict Public Account in future prediction for Private account will be available</li>
        <br>
        <li>This Model is Trained to predict Normal users Account, so When it comes to verified accounts of celebrities Model fails to predict</li>
    </ol>
</p>
</center>


<footer>
  <a href="https://5tupidbrain.netlify.com/">P457</a>
</footer>
<!-- partial -->
  
</body>
</html>